* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

body {
  background-image: url(https://images.unsplash.com/photo-1557682233-43e671455dfa?q=80&w=882&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
}

/* all colors in navbar need to be changed! */

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: rgb(82, 33, 82);
  position: fixed;
  width: 100%;
  height: auto;
  top: 0px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: rgb(224, 149, 11);
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: rgb(224, 149, 11);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a colored background color on mouse-over */
.topnav a:hover {
  background-color:  rgb(224, 149, 11);
  color: rgb(224, 149, 11);
}

/* Style the active link (or home/logo) */
.active {
  background-color: rgb(224, 149, 11);
  color: rgb(82, 33, 82)
}

/* All borders are for measuring purposes only */

/* Blog Title */
.title-main {
  text-align: center;
  margin: auto;
  max-width: fit-content;
  padding-top: 80px;
  font-size: xx-large;
  text-transform: uppercase;
}

/* for all blog entries */
.blog-main {
  text-align: center;
  display: block;
  margin: 2em;
  padding-top: 80px;
}

/* Blog title styles */

.blog-title {
  max-width: fit-content;
  margin: auto;
  text-transform: uppercase;
}

/* blog entries as indiv */
.blog-entry {
  padding: 5px;
  height: auto;
  width: 50%;
  margin: auto;
  padding-bottom: 120px;
  font-weight: 600;
}

/* blog dates */
.blog-date {
  text-decoration: underline;
  margin: auto;
  height: inherit;
}