* {
  font-family: 'Concert One', sans-serif;
  margin: 0;
  line-height: 1.75;
}

body {
  background-image: url(https://images.unsplash.com/photo-1557682233-43e671455dfa?q=80&w=882&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;

}

/* all colors in navbar need to be changed! */

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: rgb(224, 149, 11);
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
 
/* Blog Title */
.title-main {
  text-align: center;
  margin: auto;
  max-width: fit-content;
  padding-top: 80px;
  text-transform: uppercase;
  font-size: 40px;
}

/* for all blog entries */
.blog-main {
  text-align: center;
  display: block;
  margin: 2em;
  padding-top: 80px;
  max-width: 90%;

}

/* Blog title styles */

.blog-title {
  max-width: fit-content;
  margin: auto;
  text-transform: uppercase;
  font-size: 35px;
}

/* blog entries as indiv */
.blog-entry {
  padding: 5px;
  height: auto;
  width: 80%;
  margin: auto;
  padding-bottom: 300px;
  font-weight: 500;
  font-size: 22px;
  font-weight: 100;
}

/* blog dates */
.blog-date {
  margin: auto;
  font-size: 16px;
}

/* landing page styles */

.header {
    text-align: center;
    padding-top: 150px;
    font-size: 52px;
}

.tagline {
    text-align: center;
    margin: auto;
    max-width: 60%;
}